{
	"parser"       : "babel-eslint",
	"parserOptions": {
		"ecmaVersion"                : 6,
		"sourceType"                 : "module",
		"ecmaFeatures"               : {
			"jsx"                          : true,
			"experimentalObjectRestSpread ": true
		},
		"allowImportExportEverywhere": true
	},
	"globals"      : {
		"grecaptcha": true,
		"Environment" : true
	},
	"env"          : {
		"es6"    : true,
		"browser": true,
		"node"   : true,
		"mocha"  : true
	},
	"plugins"      : [
		"react"
	],
	"settings"     : {
		"react": {
			"pragma" : "React",
			"version": "15.2"
		}
	},
	"extends"      : [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"rules"        : {
		"no-mixed-spaces-and-tabs": [
			1,
			"smart-tabs"
		],
		"react/prop-types"        : [
			0,
			{
				"ignore": [
					"children"
				]
			}
		],
		"react/display-name"      : 0,
		"react/no-danger"         : 0,
		"no-unused-vars"          : [
			2,
			{
				"varsIgnorePattern": "[iI]gnored"
			}
		]
	}
}